body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  padding: 20px;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #4f46e5;
}

.card {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

select,
input,
button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}
